
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/tests/Functional/ProductControllerTest.php/
/tests/Functional/ContactControllerTest.php/
/tests/Integration/ProductControllerTest.php/
/tests/Integration/ContactControllerTest.php/
/tests/Unit/ProductTest.php/
/tests/Unit/ContactTest.php/