<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
